@import "tailwindcss";

@font-face {
  font-family: Poppins Medium;
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Alan Sans Medium;
  src: url('/fonts/AlanSans-Medium') format("truetype");
}

@font-face {
  font-family: PoetsenOne;
  src: url("/fonts/PoetsenOne-Regular") format("truetype");
}


@theme {

  --font-Poppins : Poppins Medium;
  --font-Poet : PoetsenOne;
  --font-Alan : Alan Sans Medium;

  --color-custom : #030712;
  --color-background : #f8f9fe;

  --animate-wiggle: wiggle 1s ease-in-out infinite;

  --animate-show : show 2s ease-in-out forwards;

  --breakpoint-ml : 425px;
  --breakpoint-mm : 375px;
  

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes colorful {
    0% {
      border-color: #dd2d4a;
    }
    50% {
      border-color: #ef233c;
    }
    100% {
      border-color: #d90429;
    }
  }

  @keyframes loader-anim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  @keyframes show {
    0% {
      opacity : 0.2;
    }

    50% {
      opacity : 0.6;
    }

    100% {
      opacity : 1;
    }
  }

  @keyframes expandDiv {
    0% { width: 0%; }
    100% { width: 65%; } /* stop at 65% */
  }

  @keyframes closeDiv {
    0% { width: 65%; }
    100% { width: 0%; } /* stop at 65% */
  }
}

.animated-border {
  border: 2px solid;
  animation: colorful 2s linear infinite;
  border-radius: 15px;
}

.expand-div {
  animation: expandDiv 1s ease-in-out forwards;
}

.loader-gradient {
  /* background: linear-gradient(to right , #e9ecef , #dee2e6 , #ced4da); */
  background-color: brown;
}

.animate-loader {
  animation: loader-anim 5s ease infinite;
}


/* Disables the spinner arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gradient-background {
  background: linear-gradient(to right ,  #EEF2FF, #F8FAFF);
}

